* { box-sizing: border-box; }

body { background-color: #5280C5;
      color: #003366 ;
	  font-family: Verdana, Arial, sans-serif;
      background-image:url(gradientblue.jpg);
}
header { background-color: #000066;
       color: #F0F0F0;
	   background-image: url(bigfish.gif);
	   background-repeat: no-repeat;
	   background-position: center;
	   text-align: center;
       display: block;
}
h1 { line-height: 250%;
     font-size: 3em;
     padding: .2em;
     text-shadow: 4px 1px 1px #CCCCCC;
 	 margin-bottom: 0;}
nav { font-weight: bold;  
      padding: 5px;
      float: left;
      width: 180px;
      display: block;}
nav ul{list-style-type: none;}
nav a{text-decoration: none;}
nav a:link{color:#000066;}
nav a:visited{color:#5280C5;}
nav a:hover{color:#3262A3;}
.category { font-weight: bold;
			color: #5280C5;
			 font-family: Georgia, "Times New Roman", serif; 
			 text-shadow: 1px 1px #667;
}
img { border-style: none; }
dt { font-weight: bold;
     font-size: 1.1em;
	 color: #5280C5;
     font-family: Georgia, "Times New Roman", serif;	 
}
main { padding-left: 2em;
       padding-right: 2em;
       margin-left: 180px;
       background-color: #FFFFFF;
       border-color:#AEC3E3;
       border-width: 1px;
       display: block;
}
footer { font-size: .70em;
       font-style: italic;
	   text-align: center;
	   background-color: #AEC3E3;
       padding: 1em;
       margin-left: 180px;
       display: block;
}
footer nav { background-color: 	#F0F0F0	;
}
#wrapper { width: 80%;
           margin-right: auto;
		   margin-left: auto;
		   background-color: #F0F0F0;
		   min-width: 700px;
}